body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  color: #fff;
  justify-content: center;
  width: 720px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
}

